{# Import layout template #}
{% extends "layout.html" %}

{# import body id #}
{% set pageId = "page-create-point" %}

{# import page title #}
{% block title %}
    <title>Register your company</title>
{% endblock title %}

{# Import styles #}
{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{# Import index content #}
{% block content %}
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">

        <h1>Register your company</h1>

        <fieldset>
            <legend>
                <h2>Information about the company</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Company Name</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="image">Company Image</label>
                    <input 
                        type="url" 
                        name="image" 
                        placeholder="Place image link here with http://"
                        required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" name="address" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address2">Address 2</label>
                    <input type="text" name="address2">
                </div>
                <div class="field">
                    <label for="cep">ZipCode</label>
                    <select name="cep" required="required">
                        <option selected="selected" value="">Select a ZipCode</option>
                            {# Import Houston CEPs #}
                            {% block cep %}
                                {% include "partials/houston-cep.html" %}
                            {% endblock cep %}
                    </select>
                </div>
            </div>

            <div class="field-group">

                <div class="field">
                    <label for="city">City</label>
                    <select name="city" required="required">
                        <option value="">Select a city</option>
                        <option value="Houston">Houston</option>
                    </select>
                </div>

                <div class="field">
                    <label for="state">State</label>
                    <select name="state" required="required">
                        <option value="">Select a state</option>
                        <option value="Texas">Texas</option>

                    </select>
                </div>

            </div>

            <div class="field-group">
                <div class="field">
                    <label for="site">Website</label>
                <input type="text" name="site">
                </div>
                <div class="field">
                    <label for="email">E-Mail</label>
                    <input 
                        type="email" 
                        name="email" 
                        placeholder="Your business email here"
                        required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="(XXX) XXX-XXXX" required="required">
                </div>
                <div class="field">
                    <label for="social">Instagram</label>
                    <input 
                        type="text" 
                        name="social" 
                        placeholder="Your instagram handle w/o @">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Company type</h2>
                <span>Select all that apply</span>
            </legend>
            <div class="items-grid">   
                <li data-id="Black American Business">
                    <img src="/assets/icones/business.svg" alt="Black Americans (African Descent)">
                    <span>Black Americans (African Descent)</span>
                </li>
                <li data-id="Hispanic American Business">
                    <img src="/assets/icones/business.svg" alt="Hispanic Americans">
                    <span>Hispanic Americans</span>
                </li>
                <li data-id="Native American Business">
                    <img src="/assets/icones/business.svg" alt="Native Americans">
                    <span>Native Americans</span>
                </li>
                <li data-id="Asian Pacific Americans Business">
                    <img src="/assets/icones/business.svg" alt="Asian Pacific Americans">
                    <span>Asian Pacific Americans</span>
                </li>
                <li data-id="Subcontinent Asian Americans Business">
                    <img src="/assets/icones/business.svg" alt="Subcontinent Asian Americans">
                    <span>Subcontinent Asian Americans</span>
                </li>
            </div>

            <input type="hidden" name="items">
        </fieldset>

        <button type="submit">Register your company</button>
    </form>

{% endblock content %}

{# Import footer #}
{% block footer %}
    {% include "partials/footer.html" %}
{% endblock footer %}

{% block modal %}
    {% if saved %}
        {% include "partials/point-created.html"%}
    
    {% endif %}
{% endblock modal %}

{# import index script #}
{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}

