{# Import layout template #}
{% extends "layout.html" %}

{# import body id #}
{% set pageId = "page-create-point" %}

{# import page title #}
{% block title %}
    <title>Register your company</title>
{% endblock title %}

{# Import styles #}
{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{# Import index content #}
{% block content %}
    {% include "partials/page-header.html" %}

    <form action="/savepoint" method="POST">

        <h1>Register your company</h1>

        <fieldset>
            <legend>
                <h2>Information about the company</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Company Name</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="image">Company Image</label>
                    <input 
                        type="url" 
                        name="image" 
                        placeholder="Place image link here with http://"
                        required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Address</label>
                    <input type="text" name="address" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address2">Address 2</label>
                    <input type="text" name="address2">
                </div>
                <div class="field">
                    <label for="cep">ZipCode</label>
                    <select name="cep" required="required">
                        <option selected="selected" value="">Select a ZipCode</option>
                        <option value="77002">77002</option>
                        <option value="77003">77003</option>
                        <option value="77004">77004</option>
                        <option value="77005">77005</option>
                        <option value="77006">77006</option>
                        <option value="77007">77007</option>
                        <option value="77008">77008</option>
                        <option value="77009">77009</option>
                        <option value="77010">77010</option>
                        <option value="77011">77011</option>
                        <option value="77012">77012</option>
                        <option value="77013">77013</option>
                        <option value="77014">77014</option>
                        <option value="77015">77015</option>
                        <option value="77016">77016</option>
                        <option value="77017">77017</option>
                        <option value="77018">77018</option>
                        <option value="77019">77019</option>
                        <option value="77020">77020</option>
                        <option value="77021">77021</option>
                        <option value="77022">77022</option>
                        <option value="77023">77023</option>
                        <option value="77024">77024</option>
                        <option value="77025">77025</option>
                        <option value="77026">77026</option>
                        <option value="77027">77027</option>
                        <option value="77028">77028</option>
                        <option value="77029">77029</option>
                        <option value="77030">77030</option>
                        <option value="77031">77031</option>
                        <option value="77032">77032</option>
                        <option value="77033">77033</option>
                        <option value="77034">77034</option>
                        <option value="77035">77035</option>
                        <option value="77036">77036</option>
                        <option value="77037">77037</option>
                        <option value="77038">77038</option>
                        <option value="77039">77039</option>
                        <option value="77040">77040</option>
                        <option value="77041">77041</option>
                        <option value="77042">77042</option>
                        <option value="77043">77043</option>
                        <option value="77044">77044</option>
                        <option value="77045">77045</option>
                        <option value="77046">77046</option>
                        <option value="77047">77047</option>
                        <option value="77048">77048</option>
                        <option value="77049">77049</option>
                        <option value="77050">77050</option>
                        <option value="77051">77051</option>
                        <option value="77052">77052</option>
                        <option value="77053">77053</option>
                        <option value="77054">77054</option>
                        <option value="77055">77055</option>
                        <option value="77056">77056</option>
                        <option value="77057">77057</option>
                        <option value="77058">77058</option>
                        <option value="77059">77059</option>
                        <option value="77060">77060</option>
                        <option value="77061">77061</option>
                        <option value="77062">77062</option>
                        <option value="77063">77063</option>
                        <option value="77064">77064</option>
                        <option value="77065">77065</option>
                        <option value="77066">77066</option>
                        <option value="77067">77067</option>
                        <option value="77068">77068</option>
                        <option value="77069">77069</option>
                        <option value="77070">77070</option>
                        <option value="77071">77071</option>
                        <option value="77072">77072</option>
                        <option value="77073">77073</option>
                        <option value="77074">77074</option>
                        <option value="77075">77075</option>
                        <option value="77076">77076</option>
                        <option value="77077">77077</option>
                        <option value="77078">77078</option>
                        <option value="77079">77079</option>
                        <option value="77080">77080</option>
                        <option value="77081">77081</option>
                        <option value="77082">77082</option>
                        <option value="77083">77083</option>
                        <option value="77084">77084</option>
                        <option value="77085">77085</option>
                        <option value="77086">77086</option>
                        <option value="77087">77087</option>
                        <option value="77088">77088</option>
                        <option value="77089">77089</option>
                        <option value="77090">77090</option>
                        <option value="77091">77091</option>
                        <option value="77092">77092</option>
                        <option value="77093">77093</option>
                        <option value="77094">77094</option>
                        <option value="77095">77095</option>
                        <option value="77096">77096</option>
                        <option value="77097">77097</option>
                        <option value="77098">77098</option>
                        <option value="77099">77099</option>
                        <option value="77336">77336</option>
                        <option value="77338">77338</option>
                        <option value="77339">77339</option>
                        <option value="77345">77345</option>
                        <option value="77346">77346</option>
                        <option value="77357">77357</option>
                        <option value="77365">77365</option>
                        <option value="77373">77373</option>
                        <option value="77375">77375</option>
                        <option value="77379">77379</option>
                        <option value="77388">77388</option>
                        <option value="77389">77389</option>
                        <option value="77396">77396</option>
                        <option value="77401">77401</option>
                        <option value="77429">77429</option>
                        <option value="77433">77433</option>
                        <option value="77449">77449</option>
                        <option value="77450">77450</option>
                        <option value="77459">77459</option>
                        <option value="77469">77469</option>
                        <option value="77477">77477</option>
                        <option value="77478">77478</option>
                        <option value="77489">77489</option>
                        <option value="77493">77493</option>
                        <option value="77494">77494</option>
                        <option value="77502">77502</option>
                        <option value="77503">77503</option>
                        <option value="77504">77504</option>
                        <option value="77505">77505</option>
                        <option value="77506">77506</option>
                        <option value="77520">77520</option>
                        <option value="77530">77530</option>
                        <option value="77532">77532</option>
                        <option value="77536">77536</option>
                        <option value="77545">77545</option>
                        <option value="77546">77546</option>
                        <option value="77547">77547</option>
                        <option value="77571">77571</option>
                        <option value="77587">77587</option>
                        <option value="77598">77598</option>
                    </select>
                </div>
            </div>

            <div class="field-group">

                <div class="field">
                    <label for="city">City</label>
                    <select name="city" required="required">
                        <option value="">Select a city</option>
                        <option value="Houston">Houston</option>
                    </select>
                </div>

                <div class="field">
                    <label for="state">State</label>
                    <select name="uf" required="required">
                        <option value="">Select a state</option>
                        <option value="Texas">Texas</option>

                    </select>
                </div>

            </div>

            <div class="field-group">
                <div class="field">
                    <label for="site">Website</label>
                <input type="text" name="site">
                </div>
                <div class="field">
                    <label for="email">E-Mail</label>
                    <input 
                        type="email" 
                        name="email" 
                        placeholder="Your business email here"
                        required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="phone">Phone</label>
                <input type="text" name="phone" placeholder="(XXX) XXX-XXXX" required="required">
                </div>
                <div class="field">
                    <label for="social">Instagram</label>
                    <input 
                        type="text" 
                        name="social" 
                        placeholder="Your instagram handle w/o @">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Company type</h2>
                <span>Select all that apply</span>
            </legend>
            <div class="items-grid">   
                <li data-id="black-americans">
                    <img src="/assets/icones/black-americans.svg" alt="Black Americans (African Descent)">
                    <span>Black Americans (African Descent)</span>
                </li>
                <li data-id="hispanic">
                    <img src="/assets/icones/hispanic.svg" alt="Hispanic Americans">
                    <span>Hispanic Americans</span>
                </li>
                <li data-id="native">
                    <img src="/assets/icones/native-americans.svg" alt="Native Americans">
                    <span>Native Americans</span>
                </li>
                <li data-id="asian-pacific">
                    <img src="/assets/icones/asian-pacific.svg" alt="Asian Pacific Americans">
                    <span>Asian Pacific Americans</span>
                </li>
                <li data-id="sub-asian">
                    <img src="/assets/icones/sub-asian.svg" alt="Subcontinent Asian Americans">
                    <span>Subcontinent Asian Americans</span>
                </li>
            </div>

            <input type="hidden" name="items">
        </fieldset>

        <button type="submit">Register your company</button>
    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include "partials/point-created.html"%}
    
    {% endif %}
{% endblock modal %}

{# import index script #}
{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}