{# Import layout template #}
{% extends "layout.html" %}

{# import body id #}
{% set pageId = "page-home" %}

{# Import styles #}
{% block styles %}
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <link rel="shortcut icon" href="/assets/icones/favicon.jpg">
    <link rel="apple-touch-icon" href="/assets/icones/favicon.png">
{% endblock styles %}

{# Import index content #}
{% block content %}
    <div class="content">
        <header>
            <img src="/assets/icones/logo.svg" alt="Houston Minority Owned Logo">
            <a href="/create-point">
                <span></span>Register your business</a>
        </header>

        <main>
            <h1>Find minority and women owned companies</h1>
            <p>We help people find <br>minority and women owned companies in Houston.</p>
            <a href="#">
                <span></span>
                <strong>Search for a company</strong>
            </a>
        </main>
    </div>
{% endblock content %}

{# Import index modal #}
{% block modal %}
    {% include "partials/modal.html" %}
{% endblock modal %}

{# import index script #}
{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock scripts %}