{# Import layout template #}
{% extends "layout.html" %}

{# import body id #}
{% set pageId = "page-create-point" %}

{# import page title #}
{% block title %}
    <title>Register your company</title>
{% endblock title %}

{# Import styles #}
{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/partner.css">
{% endblock styles %}

{# Import index content #}
{% block content %}
    {% include "partials/page-header.html" %}

    <div class="frame">

        <h1>Project Partners</h1>

        <div class="founder-content">
            <legend>
                <h2>Founder</h2>
                <p>made with ❤️ </p>
            </legend>
            <div class="items-grid">   
                <li>
                    <img src="/assets/icones/houstontips.svg" alt="HoustonTips Logo">
                    <a href="https://www.instagram.com/houstontips" style="color:var(--primary-color);">@houstontips</a>
                </li>
            </div>
        </div>

        <div class="partner-content">
            <legend>
                <h2>Partners</h2>
                <p>Thank you for being a partner</p>
            </legend>
            <div class="items-grid">   
                <li>
                    <img src="/assets/icones/camabbas.svg" alt="Cameron Abbas Logo">
                    <a href="https://www.instagram.com/cam_abbas" style="color:var(--primary-color);" >@cam_abbas</a>
                </li>
                <li>
                    <img src="/assets/icones/partner.svg" alt="Become a partner">
                    <a href="mailto:pl@houstontips.us" style="color:var(--primary-color);">Become a Partner</a>
                </li>
                <li>
                    <img src="/assets/icones/partner.svg" alt="Become a partner">
                    <a href="mailto:pl@houstontips.us" style="color:var(--primary-color);">Become a Partner</a>
                </li>
            </div>
        </div>
        

    </div>

{% endblock content %}

{# Import footer #}
{% block footer %}
    {% include "partials/footer.html" %}
{% endblock footer %}
