<footer>
    <div class="inner-footer">
        <div class="logo-container">
            <img src="/assets/icones/logo-footer.svg" alt="Houston Minority Logo">
        </div>
        <div class="footer-third">
            <h1>Need Help?</h1>
            <a href="#">Terms &amp; Conditions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Donate to our project</a>
        </div>
        <div class="footer-third">
            <h1>More</h1>
            <a href="https://www.texassba.us/minority-owned-business-certification-g.php?gclid=EAIaIQobChMI4J7ktKjo6QIVjobACh1GKwhfEAAYASAAEgJUGvD_BwE">Minority Owned Business Certification</a>
            <a href="https://www.txdot.gov/inside-txdot/division/civil-rights/hub.html">Historically Underutilized Business Program</a>
            <a href="#">Partners</a>
        </div>
        <div class="footer-third">
            <h1>About Us</h1>
            <span>
                &copy; Houston Minority Owned<br>
                Houston, Texas<br>
                Our mission is to connect<br>
                minority business to their<br>
                local community.
            </span>
        </div>
    </div>
</footer>