<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Escolha um tipo de empresa?</h1>
            <a href="">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Tipo</label>
            <div class="search field">
                <select name="search">
                    <option value="" disabled selected hidden>Tipo</option>
                    <option value="asiatico">Restaurante Asiático</option>
                    <option value="cafe">Café</option>
                    <option value="doce">Doces</option>
                    <option value="fastfood">Fast Food</option>
                    <option value="saudavel">Restaurante Saudável</option>
                    <option value="italiano">Restaurante Italiano</option>
                    <option value="japones">Restaurante Japonês</option>
                    <option value="mediterraneo">Restaurante Mediterrâneo</option>
                    <option value="hamburgueria">Hamburgueria</option>
                    <option value="pizza">Pizzaria</option>
                    <option value="lanches">Lanches</option>
                    <option value="frutosdomar">Restaurantes de Frutos do Mar</option>
                    <option value="mexicana">Restaurante Mexicano</option>
                    <option value="tradicional">Restaurante Tradicional</option>
                    <option value="vegetariana">Restaurante Vegetariano</option>
                    <option value="bar">Bar</option>
                    <option value="bar">Mercado</option>
                </select>
                <button>
                    <img src="/assets/icones/search.svg" alt="Search">
                </button>
            </div>
        </form>
    </div>
</div>