<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Chose a company type</h1>
            <a href="">Close</a>
        </div>
        <form action="/search">
            <label for="search">Type</label>
            <div class="search field">
                <select name="search">
                    <option value="" disabled selected hidden>Type</option>
                    <option value="black-americans">Black Americans (African Decent)</A></option>
                    <option value="hispanic">Hispanic Americans</option>
                    <option value="native">Native Americans</option>
                    <option value="asian-pacific">Asian Pacific Americans</option>
                    <option value="sub-asian">Subcontinent Asian Americans</option>
                </select>
                <button>
                    <img src="/assets/icones/search.svg" alt="Search">
                </button>
            </div>
        </form>
    </div>
</div>