<option value="Auto Repair">Auto Repair</option>
<option value="Body Shops">Body Shops</option>
<option value="Bars">Bars</option>
<option value="Burgers">Burgers</option>
<option value="Car Dealers">Car Dealers</option>
<option value="Car Wash">Car Wash</option>
<option value="Contractors">Contractors</option>
<option value="Chinese">Chinese</option>
<option value="Delivery">Delivery</option>
<option value="Dry Cleaning">Dry Cleaning</option>
<option value="Electricians">Electricians</option>
<option value="Food Truck">Food Truck</option>
<option value="Gyms">Gyms</option>
<option value="Hair Salons">Hair Salons</option>
<option value="Home Cleaners">Home Cleaners</option>
<option value="HVAC">HVAC</option>
<option value="Italian">Italian</option>
<option value="Japonese">Japonese</option>
<option value="Massage">Massage</option>
<option value="Mexican">Mexican</option>
<option value="Nightlife">Nightlife</option>
<option value="Oil Change">Oil Change</option>
<option value="Parking">Parking</option>
<option value="Phone Repair">Phone Repair</option>
<option value="Reservations">Reservations</option>
<option value="Restaurant">Restaurant</option>
<option value="Shopping">Shopping</option>
<option value="Towing">Towing</option>
<option value="Thai">Thai</option>
<option value="Other">Other</option>
