/*
 *  houstonminorityowned-app-website-beta 1.0.0
 *  
 *  http://www.pedroclopes.com
 *  hello@pedroclopes.com
 *  
 *  Last update on: 06/07/2020
 *  ©2020 Pedro Lopes. All rights reserved.
 */
 
:root {
    --title-color: #433526;
    --primary-color: #E57466;
    --secundary-color:#DE8D5E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialised;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}