/*
 *  houstonminorityowned-app-website-beta 1.0.0
 *  
 *  http://www.pedroclopes.com
 *  hello@pedroclopes.com
 *  
 *  Last update on: 06/07/2020
 *  ©2020 Pedro Lopes. All rights reserved.
 */

body {
    background-color: white;
}

body::after {
    content:"";
    position: absolute;
    background:#f0f0f5;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    height: 16rem;
    z-index:-1;
    
}

#page-search-results {
    width:90%;
    max-width: 1100px;

    margin: 0 auto;
}

#page-search-results header {
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;

    display: flex;
    align-items: center;

}

#page-search-results header a span {
    margin-right: 16px;
    background-image: url('../assets/icones/arrow-left.svg');

    display: flex;

    width: 20px;
    height:24px;
}

main {
    margin: 48px auto;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;

    margin-bottom: 32px;

}

main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    
    gap: 1.3em;
    align-items: stretch;
    
}

main .card img {
    width: 100%;
    height: 150px;

    object-fit: cover;

    border-radius: 8px 8px 0 0;
}

main .card h1 {
    margin-top: 32px;

    font-size:36px;
    line-height: 41px;

    color: var(--title-color);
}

main .card h5 {
    margin-top: 1px;

    font-family: Roboto;
    font-weight: 500;

    font-size: 24px;
    line-height: 34px;

    color: var(--primary-color);
}

main .card p {
    font-size: 16px;
    line-height: 26px;

    color: black;

}

main .card a {
    color: var(--secundary-color);
}